:root{
  --light-blue: #5398be;
  --light-yellow: #F2CD5D;
  --light-pink: #D9B8C4;
  --dark-pink: #957186;
  --violet: #3A1772;
  --light-green: #9fff9c;
  --light-red: #ff9c9c;
}

html,body{
  margin: 0;
  padding: 0;
  background-color: var(--light-blue);
  font-family: 'VT323', monospace;
  color: var(--violet);
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
}

body{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

button{
  border: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  outline: none;
}

/* Grid */


.grid{
  display: grid;
  width: 400px;
  height: 400px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap:10px;
}

.grid-ele{
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--dark-pink);
  font-size: 100px;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}

.grid-ele:hover{
  filter: brightness(87%);
  transform: scale(1.01);
}

/* Marks */

.mark{
  padding: 20px;
  font-size: 30px;
}

.flex-grow{
  flex-grow: 1;
}

footer{
  padding: 10px;
}

footer a{
  text-decoration: none;
  color: inherit;
}

#action{
  padding: 10px 40px;
  border-radius: 10px;
  border: none;
  transition: all 0.1s ease-out;
}

#action:hover{
  transform: scale(1.03);
}
